body {
    background: linear-gradient(to right, #ff6b6b, #6b47ff);
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bio-container {
    background-color: rgba(255, 255, 255, 0.285);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px;
}

.profile-picture {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #000000;
}

h2 {
    text-align:center;
    font-size: 15px;
    color: rgb(0, 0, 0);

}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
}

.social-links a img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.social-links a img:hover {
    transform: scale(1.2);
}