body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #000000);
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.light-container {
    position: absolute;
    top: 10px;
    width: 290px;
    height:19px;
    background-color: #222;
    border-radius: 10px;
}

.light {
    position: absolute;
    top: 4.9px;
    width: 280px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.bio-container {
    background-color: rgba(255, 255, 255, 0.057);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px;
}

.profile-picture {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #000000;
}

h2 {
    text-align:center;
    font-size: 15px;
    color: rgb(0, 0, 0);

}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    text-decoration: none;
    margin: 0 10px;
}

.social-links a img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.social-links a img:hover {
    transform: scale(1.2);
}

#github-link {
    position: absolute;
    bottom: 10px;
}

#github-icon {
    width: 30px;
    height: 30px;
}